<launch>
  <arg name="device" default="/dev/ttyUSB1" />
  <arg name="baudrate" default="115200"/>
  <arg name="run_rviz" default="false" />
  <arg name="sensor_frame_id" default="/tactile_right_0"/>

  <arg name="rvizconfig" default="$(find vizzy_tactile)/rviz/sample.rviz" />

 <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" /> --> 
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find vizzy_tactile)/urdf/draft_tactile.xacro' sensor_frame_id:=$(arg sensor_frame_id)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<node name="tactDriverRightHand" pkg="vizzy_tactile" type="serial_node.py" output="screen" args="$(arg device)">
<param name="baud" type="str" value="$(arg baudrate)" />
<remap from="/tactile" to="/tactile_driver_right"/>
</node>

<node name="tactComputerRightHand" pkg="vizzy_tactile" type="tactileComputationalNode" output="screen">
<param name="hand" type="str" value="right" />
<remap from="/tactile" to="/tactile_driver_right"/>
</node>

</launch>
