<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
<arg name="deviceRight" default="/dev/ttyUSB1" />
<arg name="deviceLeft" default="/dev/ttyUSB2" />
<arg name="calib" default="false" />
<arg name="baudrate" default="115200"/>

<arg name="sensor_frame_id" default="/tactile_right_0"/>

<node name="tactDriverRightHand" pkg="vizzy_tactile" type="serial_node.py" output="screen" args="$(arg deviceRight)">
<param name="baud" type="str" value="$(arg baudrate)" />
<remap from="/tactile" to="/tactile_driver_right"/>
</node>

<param name="robot_description" command="$(find xacro)/xacro '$(find vizzy_tactile)/urdf/draft_tactile.xacro' sensor_frame_id:=$(arg sensor_frame_id)" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<group if="$(arg calib)">
   <include file="$(find vizzy_tactile)/launch/optoforce.launch"/> 
</group>

<!--
<node name="tactDriverLeftHand" pkg="vizzy_tactile" type="serial_node.py" output="screen" args="$(arg deviceLeft)">
<param name="baud" type="str" value="$(arg baudrate)" />
<remap from="/tactile" to="/tactile_driver_left"/>
</node> -->

<node name="tactComputerRightHand" pkg="vizzy_tactile" type="tactileComputationalNode" output="screen">
<param name="hand" type="str" value="right" />
<param name="calib" type="bool" value="$(arg calib)" />
<remap from="/tactile" to="/tactile_driver_right"/>
</node>

<!--
<node name="tactComputerLeftHand" pkg="vizzy_tactile" type="tactileComputationalNode" output="screen">
<param name="hand" type="str" value="left" />
<remap from="/tactile" to="/tactile_driver_left"/>
</node> -->

</launch>
